.DS_Store
node_modules/
.angular/
dist/
releases/
release/
.dmg
.exe
electron/releases/
.vscode/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/tracing/
/electron/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test
output/
.env
