<mat-toolbar class="page-header" role="heading">
    <mat-toolbar-row>
        <h2>
            <a [routerLink]="['/analysis', analysis.id]">
                {{analysis.name}}
            </a>
        </h2>
        @if(analysis_evaluation){
        <mat-chip-listbox>
            @switch (analysis_evaluation.status) {
            @case ('compliant') {
            <mat-chip><a [routerLink]="['/analysis', analysis.id]" style="color: green;"> {{
                    'analyses.evaluation.compliant' | translate }} </a></mat-chip>
            }
            @case ('not_compliant') {
            <mat-chip> <a [routerLink]="['/analysis', analysis.id]" style="color: red;">{{
                    "analyses.evaluation.not_compliant" | translate }}</a></mat-chip>
            }
            @case ('TBD') {
            <mat-chip>
                <a [routerLink]="['/analysis', analysis.id]" style="color: #004494;">{{ "analyses.evaluation.TBD" |
                    translate }}</a>
            </mat-chip>
            }
            }
        </mat-chip-listbox>
        }

        <span class="button-spacer"></span>
        <button mat-button [routerLink]="['/analysis', analysis.id]">
            <mat-icon class="action-icon" aria-hidden="false" aria-label="view icon">remove_red_eye</mat-icon>
        </button>
        <button mat-button (click)="export(analysis.id)">
            <mat-icon class="action-icon" aria-hidden="false" aria-label="report icon">download</mat-icon>
        </button>
        <button mat-button (click)="delete()">
            <mat-icon class="action-icon" aria-hidden="false" aria-label="delete icon">delete</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-desc">
        @for(tag of tags; track tag.id; let i = $index){
            @if(tags_evaluation[i]){
                @switch (tags_evaluation[i]?.status) {
                    @case ('compliant') {
                        <mat-chip>
                            <a style="color: green;"
                                [routerLink]="['/analysis', analysis.id, 'tag', tag.id]">{{tag.name}}</a>
                        </mat-chip>
                    }
                    @case ('not_compliant') {
                        <mat-chip>
                            <a style="color: red;" [routerLink]="['/analysis', analysis.id, 'tag', tag.id]">{{tag.name}}</a>
                        </mat-chip>
                    }
                    @case ('TBD') {
                        <mat-chip>
                            <a style="color: #004494;"
                                [routerLink]="['/analysis', analysis.id, 'tag', tag.id]">{{tag.name}}</a>
                        </mat-chip>
                    }
                }
            }@else {
                <mat-chip>
                    <a [routerLink]="['/analysis', analysis.id, 'tag', tag.id]">{{tag.name}}</a>
                </mat-chip>
            }
        }
    </mat-toolbar-row>
    <mat-toolbar-row class="header-desc">
        <mat-icon>link</mat-icon>
        {{analysis.url}}
    </mat-toolbar-row>
    <mat-toolbar-row class="header-desc">
        <mat-icon>date_range</mat-icon>
        {{analysis.created_at | date}}
    </mat-toolbar-row>
</mat-toolbar>