<mat-toolbar>
    <mat-toolbar-row class="navigation-header">
        <li class="breadcrumb-item">
            <a>
                <strong>
                    {{ 'menu.settings' | translate }}
                </strong>
            </a>
        </li>
    </mat-toolbar-row>
</mat-toolbar>


<div class="top">
    <div class="options">
        <div class="sc-ae0wyr jXqoqg">
             <div title="On startup" class="sc-19uuyq5 option-item">
                <div class="option-text">
                </div>
                <button mat-button (click)="option='general'">General</button>
                @if(option == 'general'){
                    <mat-icon>chevron_right</mat-icon>
                }
            </div>
            @if(browserService.use_electron){
                <div title="Browser" class="sc-19uuyq5 option-item">
                    <div class="option-text">
                    </div>
                    <button mat-button  (click)="option='browser'">{{ 'menu.browser' | translate }}
                    </button>
                    @if(option == 'browser'){
                        <mat-icon >chevron_right</mat-icon>
                    }
                </div>
                <div title="Analysis" class="sc-19uuyq5 option-item">
                    <div class="option-text">
                    </div>
                    <button mat-button (click)="option='analysis'">{{ 'menu.analysis' | translate }}
                    </button>
                    @if(option == 'analysis'){
                        <mat-icon>chevron_right</mat-icon>
                    }
                </div>
            }
            
        </div>
    </div>

    <div class="content">
        @switch (option) {
            @case ('analysis') {
                <app-analysis></app-analysis>
            }
            @case ('browser') {
                <app-browser></app-browser>
            }
            @case ('general') {
                <app-general></app-general>
            }
        }
    </div>
</div>