@if(detailsData){
    @switch (detailsData.kind) {
        @case ('cookie') {
            <app-cookie-details 
            [line]="castToCookieLine(detailsData)">
    
            </app-cookie-details>
        }
        @case ('localstorage') {
            <app-localstorage-details 
            [line]="castToLocalStorageLine(detailsData)">
    
            </app-localstorage-details>
        }
        @case ('beacon') {
            <app-beacon-details 
            [line]="castToBeaconLine(detailsData)">
            </app-beacon-details>
        }
    }
}