@if(context == 'view'){
  <mat-form-field>
    <mat-label>{{ "cards.screenshot.option" | translate }}</mat-label>
    <mat-select 
    [(value)]="screenshot_option"
    (selectionChange)="updateScreenshot()"
    >
      <mat-option value="visible" selected>{{ "cards.screenshot.visible" | translate }}</mat-option>
      <mat-option value="fullpage_from_dom">{{ "cards.screenshot.full_page_from_dom" | translate }}</mat-option>
      <mat-option value="fullpage_from_scroll">{{ "cards.screenshot.full_page_from_scroll" | translate }}</mat-option>
      <mat-option value="fullpage_from_url">{{ "cards.screenshot.fullpage_from_url" | translate }}</mat-option>
    </mat-select>
</mat-form-field>
}


@if(loading){
  <app-loading-overlay [visibility]="true" [childMode]="true"></app-loading-overlay>
}@else {
  <img [src]="screenshotCard.image|safeIMG"  style="width:100.0%">
}

