<table *ngIf="card.https_support != null" class="use-of-httpsssl">
    <colgroup>
      <col style="width: 50%">
      <col style="width: 50%">
    </colgroup>
    <tbody>
      <tr>
        <td class="truncate"> {{ "cards.http.allow_https" | translate }} </td>
        <td>{{card.https_support}}</td>
      </tr>
      <tr>
        <td class="truncate">{{ "cards.http.http_to_https" | translate }}</td>
        <td>{{card.https_redirect}}</td>
      </tr>
      <tr>
        <td class="truncate">{{ "cards.http.http_redirect" | translate }}</td>
        <td class="truncate">
            {{card.redirects}}
        </td>
      </tr>
    </tbody>
  </table>