<mat-toolbar>
    <mat-toolbar-row class="navigation-header">
        <li class="breadcrumb-item">
            <a>
                <a [routerLink]="['/entries']">
                    <strong>
                        {{ "header.analyses" | translate }}
                    </strong>
                </a>
            </a>
        </li>
        <li class="breadcrumb-item">
            <strong>
                {{ "header.edit" | translate }}
            </strong>
        </li>
        <li class="breadcrumb-item">
            @if(activeTag){
            <a [routerLink]="['/analysis', analysis.id]">
                {{ analysis.name }}
            </a>
        <li class="breadcrumb-item">
            {{ activeTag.name }}
        </li>
        }@else {
        {{ analysis.name }}
        }
        </li>
    </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="page-header" role="heading">
    <mat-toolbar-row>
        <h1>
            <a [routerLink]="['/analysis', analysis.id]">
                {{analysis.name}}
            </a>
        </h1>
        @if(evaluation){
        <mat-chip-listbox>
            @switch (evaluation.status) {

            @case ("compliant") {
            <mat-chip><a [routerLink]="['/analysis', analysis.id]" style="color: green;"> {{
                    "analyses.evaluation.compliant" | translate }}</a></mat-chip>
            }
            @case ("not_compliant") {
            <mat-chip> <a [routerLink]="['/analysis', analysis.id]" style="color: red;"> {{
                    "analyses.evaluation.not_compliant" | translate }} </a></mat-chip>
            }
            @case ("TBD") {
            <mat-chip>
                <a [routerLink]="['/analysis', analysis.id]" style="color: #004494;">{{ "analyses.evaluation.TBD" |
                    translate }} </a>
            </mat-chip>
            }

            }


        </mat-chip-listbox>

        }

    </mat-toolbar-row>
    <mat-toolbar-row class="header-desc">
        <a target="_blank" href="{{analysis.url}}">
            <mat-icon>link</mat-icon>
            {{analysis.url}}
        </a>

    </mat-toolbar-row>
    <mat-toolbar-row class="header-desc">
        <mat-icon>date_range</mat-icon>
        {{analysis.created_at | date}}
    </mat-toolbar-row>
</mat-toolbar>


<div class="charts-wrapper">
    <div class="left_panel">
        <mat-card class="sticky-card">
            <mat-card-title>
                <h2>Scenario</h2>
            </mat-card-title>
            @for (tag of tags; track tag.id) {
                <mat-card-content>
                    <app-tags [analysis]="analysis" [tag]="tag">
                    </app-tags>
                </mat-card-content>
            }

            <mat-card-content>
                <button mat-button class="add-button" [routerLink]="['/entries', 'new', analysis.id]">
                    +
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content">

        <app-content [evaluation]="evaluation" [analysis]="analysis" [tag]="activeTag">
        </app-content>

    </div>

    @if(knowledgeBaseService.knowledgeBaseData != null || knowledgeBaseService.knowledgeBaseKind != null ||
    detailsService.detailsData){
    <div class="rigth_panel">
        <mat-card class="sticky-card">
            <mat-card-title>
                <h2>{{ "analyses.panel.more_details" | translate }}</h2>
            </mat-card-title>
            <mat-card-content style="background-color:#fff ;">
                <mat-tab-group dynamicHeight animationDuration="0ms">
                    @if(detailsService.detailsData){
                    <mat-tab label="Details">
                        <app-details [detailsData]="detailsService.detailsData">
                        </app-details>
                        @if(detailsService.detailsData.log != null){
                        <span style="margin-left: 10px;">
                            <h2>{{ "analyses.panel.callstack_details" | translate }}</h2>
                            <app-callstack-details [log]="detailsService.detailsData.log">
                            </app-callstack-details>
                        </span>
                        }
                    </mat-tab>
                    }

                    @if(knowledgeBaseService.knowledgeBaseData != null || knowledgeBaseService.knowledgeBaseKind !=
                    null){
                    <mat-tab label="Knowledge">
                        <app-knowledge-base [context]="'analysis'" [analysis]="analysis" [tag]="activeTag">
                        </app-knowledge-base>
                    </mat-tab>
                    }
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
    }
</div>

@if(showModal){
<app-modal (clickOnClose)="showModal = false"></app-modal>
}