<mat-tree #treeLogCall [dataSource]="dataSourceCall" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>

        <button mat-icon-button disabled></button>
        @if(node.link){
        <a target="_blank" href="{{node.name}}">
            <mat-icon>open_in_new</mat-icon>
        </a>
        }
        {{node.name}}

    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        @if(node.link){
        <a target="_blank" href="{{node.name}}">
            <mat-icon>open_in_new</mat-icon>
        </a>
        }
        {{node.name}}
    </mat-tree-node>
</mat-tree>

<mat-tree #treeLogCall [dataSource]="dataSourceValue" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>

        <button mat-icon-button disabled></button>


        @if(event){
        <div>
            <table>
                <tbody>
                    @if(event.domain != undefined){
                    <tr>
                        <td>
                            {{ "knowledge.domain" | translate }}
                        </td>
                        <td class="truncate">
                            {{event.domain}}
                        </td>
                    </tr>
                    }
                    @if(event.key != undefined){
                    <tr>
                        <td>
                            {{ "knowledge.name" | translate }}
                        </td>
                        <td class="truncate">
                            {{event.key}}
                        </td>
                    </tr>
                    }
                    @if(event.value != undefined){
                    <tr>
                        <td>
                            {{ "knowledge.value" | translate }}
                        </td>
                        <td class="truncate">
                            {{event.value}}
                        </td>
                    </tr>
                    }
                    @if(event.expires != undefined){
                    <tr>
                        <td>
                            expires
                        </td>
                        <td class="truncate">
                            {{event.expires}}
                        </td>
                    </tr>
                    }
                    @if(event.httpOnly != undefined){
                    <tr>
                        <td>
                            httpOnly
                        </td>
                        <td>
                            {{event.httpOnly}}
                        </td>
                    </tr>
                    }
                    @if(event.path != undefined){
                    <tr>
                        <td>
                            path
                        </td>
                        <td>
                            {{event.path}}
                        </td>
                    </tr>
                    }
                    @if(event.secure != undefined){
                    <tr>
                        <td>
                            secure
                        </td>
                        <td>
                            {{event.secure}}
                        </td>
                    </tr>
                    }
                    @if(event.maxAge != undefined){
                    <tr>
                        <td>
                            maxAge
                        </td>
                        <td>
                            {{event.maxAge}}
                        </td>
                    </tr>
                    }
                    @if(event.sameSite != undefined){
                    <tr>
                        <td>
                            sameSite
                        </td>
                        <td>
                            {{event.sameSite}}
                        </td>
                    </tr>
                    }
                    @if(event.hostOnly != undefined){
                    <tr>
                        <td>
                            hostOnly
                        </td>
                        <td>
                            {{event.hostOnly}}
                        </td>
                    </tr>
                    }
                    @if(event.pathIsDefault != undefined){
                    <tr>
                        <td>
                            pathIsDefault
                        </td>
                        <td>
                            {{event.pathIsDefault}}
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }

    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        {{node.name}}
    </mat-tree-node>
</mat-tree>