@if(!loading){
<table matSort (matSortChange)="sortBy($event)" class="entries-list-table">
  <thead>
    <tr>
      <th></th>
      <th mat-sort-header="name">
        <span>{{ "knowledge.name" | translate }}</span>
      </th>
      <th mat-sort-header="author">
        <span>{{ "knowledge.author" | translate }}</span>
      </th>
      <th mat-sort-header="category">
        <span>{{ "knowledge.category" | translate }}</span>
      </th>
      <th mat-sort-header="knowledges">
        <span>{{ "knowledge.number" | translate }}</span>
      </th>
      <th mat-sort-header="trust">
        <span>{{ "knowledge.trust_level" | translate }}</span>
      </th>
      <th mat-sort-header="used">
        <span>{{ "knowledge.used_knowledge" | translate }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (base of entries; track base; let idx = $index) {
    <tr>
      <td class="base-listsBlock-item">
        <div class="base-listsBlock-item-actions">
          <a [routerLink]="['/knowledge_bases', base.id]" class="base-tooltip">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span title="View" class="base-tooltip-text">{{ "entries.view" | translate }}</span>
          </a>
          <a href="javascript:;" (click)="export(base.id)" class="base-tooltip">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span title="export" class="base-tooltip-text">{{ "entries.export" | translate }}</span>
          </a>
          <a href="javascript:;" (click)="duplicate(base.id)" class="base-tooltip">
            <i class="fa fa-files-o" aria-hidden="true"></i>
            <span title="dupplicate" class="base-tooltip-text">{{ "entries.dupplicate" | translate }}</span>
          </a>
          <a href="javascript:;" (click)="remove(base.id)" class="base-tooltip">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span title="Remove" class="base-tooltip-text">{{ "entries.remove" | translate }}</span>
          </a>
        </div>
      </td>
      <td class="base-listsBlock-item">
        <div contenteditable (focusout)="onFocusOut(base, 'name', $event)">
          {{ base.name }}
        </div>
      </td>
      <td class="base-listsBlock-item">
        <div contenteditable (focusout)="onFocusOut(base, 'author', $event)">
          {{ base.author }}
        </div>
      </td>
      <td class="base-listsBlock-item">
        <div contenteditable (focusout)="onFocusOut(base, 'category', $event)">
          {{ base.category }}
        </div>
      </td>
      <td class="base-listsBlock-item">
        <div>{{ base | nbEntriesInKnowlegeBase |async }}</div>
      </td>
      <td [class.validated]="base.trustLevel == 'validated'" [class.reliable]="base.trustLevel == 'reliable'"
        [class.informative]="base.trustLevel == 'informative'" [class.undefined]="base.trustLevel == 'undefined'">
        <mat-select class="base-listsBlock-item" [(value)]="base.trustLevel"
          (selectionChange)="updateTrust(base, $event.value)">
          @for(trustLevel of allTrustLevel; track trustLevel){
          <mat-option [class.validated]="base.trustLevel == 'validated'"
            [class.reliable]="base.trustLevel == 'reliable'" [class.informative]="base.trustLevel == 'informative'"
            [class.undefined]="base.trustLevel == 'undefined'" [value]="trustLevel">{{ "knowledge."+trustLevel |
            translate }}</mat-option>
          }
        </mat-select>

      </td>
      <td class="base-listsBlock-item">
        <mat-select class="base-listsBlock-item" [(value)]="base.used"
          (selectionChange)="updateUsed(base, $event.value)">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>

      </td>
    </tr>
    }

  </tbody>
</table>
}@else {
<tbody>
  <div class="entries-loading entries-loading-line">
    <app-loading-overlay [visibility]="true" [childMode]="true"></app-loading-overlay>
  </div>
</tbody>
}