<mat-expansion-panel [attr.id]="card.name" [expanded]="context == 'evaluate' ? true : false"
    class="example-headers-align">
    <mat-expansion-panel-header>
        <mat-panel-title>
            @if(!editing){
            <mat-panel-description>
                <h3 class="mt-0">
                    {{card.name}}
                    @if(context == 'view'){
                        @if(card.kind == 'cookie_cache' || card.kind == 'cookie_requests'){
                            <button mat-icon-button (click)="runCard()">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        }@else if(card.kind == 'testSSL'){
                                <button mat-icon-button (click)="runCard()">
                                    <mat-icon>play_arrow</mat-icon>
                                </button>
                        }
                        @if(settingService.settings.help){
                        <mat-icon matTooltip="{{ 'cards.help.'+card.kind | translate }}"
                            [matTooltipPosition]="'after'">help_outline</mat-icon>
                        }

                    }
                </h3>
            </mat-panel-description>
            }@else {
            <mat-panel-description>
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput (keydown)="onKeyDownEvent($event)" (click)="onMouseDown($event)" type="text"
                        name="card_name" id="card_name" [(ngModel)]="card.name">
                </mat-form-field>
            </mat-panel-description>
            }


        </mat-panel-title>

    </mat-expansion-panel-header>

    @if(context == 'evaluate' &&
    ((card.kind == 'cookie') || (card.kind == 'localstorage')|| (card.kind == 'beacons'))){
    <app-search [card]="card" (searchStatusEvent)="searchStatus = $event" (searchCookieEvent)="searchCookie = $event"
        (searchLocalStorageEvent)="searchLocalStorage = $event" (searchBeaconEvent)="searchBeacon = $event"
        (searchKnowledgeEvent)="searchKnowledge = $event">
    </app-search>
    }

    @switch (card.kind) {
    @case ('testSSL') {
    <ng-container>
        <app-testssl-card [context]="context" [card]="cardService.castToSSLCard(card)">
        </app-testssl-card>
    </ng-container>
    }

    @case ('cookie_cache') {
    <app-cookie-card [context]="context" [card]="cardService.castToCookieCard(card)" [searchStatus]="searchStatus"
        [searchCookie]="searchCookie" [searchKnowledge]="searchKnowledge">
    </app-cookie-card>
    }

    @case ('cookie_requests') {
    <app-cookie-card [context]="context" [card]="cardService.castToCookieCard(card)" [searchStatus]="searchStatus"
        [searchCookie]="searchCookie" [searchKnowledge]="searchKnowledge">
    </app-cookie-card>
    }

    @case ('cookie') {
    <app-cookie-card [context]="context" [card]="cardService.castToCookieCard(card)" [searchStatus]="searchStatus"
        [searchCookie]="searchCookie" [searchKnowledge]="searchKnowledge">
    </app-cookie-card>
    }


    @case ('https') {
    <app-http-card [context]="context" [card]="cardService.castToHTTPCard(card)">
    </app-http-card>
    }
    @case ('localstorage') {
    <app-local-storage-card [context]="context" [card]="cardService.castToLocalStorageCard(card)"
        [searchStatus]="searchStatus" [searchLocalStorage]="searchLocalStorage" [searchKnowledge]="searchKnowledge">
    </app-local-storage-card>
    }
    @case ('traffic') {
    <app-traffic-card [context]="context" [card]="cardService.castToTrafficCard(card)">
    </app-traffic-card>
    }
    @case ('forms') {
    <app-unsafe-form-card [context]="context" [card]="cardService.castToUnsafeFormsCard(card)">
    </app-unsafe-form-card>
    }
    @case ('beacons') {
    <app-beacon-card [context]="context" [card]="cardService.castToBeaconCard(card)" [searchStatus]="searchStatus"
        [searchBeacon]="searchBeacon">
    </app-beacon-card>
    }

    @case ('image') {

    <app-screenshot-card [context]="context" [card]="card" [analysis]="analysis" [tag]="tag">
    </app-screenshot-card>

    }
    @case ('info') {
    <app-info-card [context]="context" [card]="cardService.castToInfoCard(card)" [analysis]="analysis" [tag]="tag">
    </app-info-card>
    }
    }

    @if(context == 'evaluate' && card.kind != 'global' && card.kind != 'info'){
    <app-evaluations [card]="card" (evaluationEvent)="evaluationChange($event)" [evaluation]="evaluation">
    </app-evaluations>
    }
</mat-expansion-panel>