@for (cookie_knowledge of knowledgeBaseData; track cookie_knowledge) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="mt-0 panel-title-text">
          {{ cookie_knowledge.name }}
          <span 
          [class.validated] = "cookie_knowledge.trustLevel == 'validated'"
          [class.reliable] = "cookie_knowledge.trustLevel == 'reliable'"
          [class.informative] = "cookie_knowledge.trustLevel == 'informative'"
          [class.undefined] = "cookie_knowledge.trustLevel == 'undefined'">
          ({{"knowledge."+cookie_knowledge.trustLevel | translate}})
        </span>
            -
          {{cookie_knowledge.all_cookies}} {{"knowledge.matches"| translate}}
        </span>  
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    @if(cookie_knowledge.cookie_name_and_domain.length >0){
      <div class="knowledge-content">
        <header class="article-title">
          <h1 class="node__title mb-3 mt-0"><span class="field field--name-title field--type-string field--label-hidden">{{
              'knowledge.cookie.exact_match' | translate }}</span>
              @if(settingService.settings.help){
                <mat-icon matTooltip="{{ 'knowledge.cookie.exact_match_tooltip' | translate }}"
                [matTooltipPosition]="'after'">help_outline</mat-icon>
              }
          </h1>
        </header>
    
        @for(item of cookie_knowledge.cookie_name_and_domain; track item){
          <div class="base-knowledges_base-displayData">
            <div class="base-knowledges_base-displayData-category">
              {{ "knowledge.purpose" | translate }} : {{item.category}}
            </div>
            <div class="base-knowledges_base-displayData-description">
              <ng-container>
                {{ "knowledge.domain" | translate }} : {{item.domain}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.name" | translate }} : {{item.name}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.source" | translate }} : {{item.source}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.data_controller" | translate }} : {{item.controller}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.privacy_policy" | translate }} : {{item.policy}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.referenced_in" | translate }} : {{item.reference}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.comments" | translate }} : <br>
                <div [innerHTML]="item.comment"></div>
              </ng-container>
            </div>
          </div>
        }
      </div>
    }
    @if(cookie_knowledge.cookie_name.length >0){
      <div class="knowledge-content">
        <header class="article-title">
          <h1 class="node__title mb-3 mt-0"><span class="field field--name-title field--type-string field--label-hidden">{{
              'knowledge.cookie.match_name' | translate }}</span>
              @if(settingService.settings.help){
                <mat-icon matTooltip="{{ 'knowledge.cookie.match_name_tooltip' | translate }}"
                [matTooltipPosition]="'after'">help_outline</mat-icon>
              }
          </h1>
        </header>
        @for(item of cookie_knowledge.cookie_name; track item){
          <div class="base-knowledges_base-displayData">
            <div class="base-knowledges_base-displayData-category">
              {{ "knowledge.purpose" | translate }} : {{item.category}}
            </div>
            <div class="base-knowledges_base-displayData-description">
              <ng-container>
                {{ "knowledge.domain" | translate }} : {{item.domain}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.name" | translate }} : {{item.name}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.source" | translate }} : {{item.source}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.data_controller" | translate }} : {{item.controller}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.privacy_policy" | translate }} : {{item.policy}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.referenced_in" | translate }} : {{item.reference}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.comments" | translate }} : <br>
                <div [innerHTML]="item.comment"></div>
              </ng-container>
            </div>
          </div>
        }
      </div>
    }
    
    @if(cookie_knowledge.cookie_domain.length >0){
      <div class="knowledge-content">
        <header class="article-title">
          <h1 class="node__title mb-3 mt-0"><span class="field field--name-title field--type-string field--label-hidden">{{
              'knowledge.cookie.match_domain' | translate }}</span>
              @if(settingService.settings.help){
                <mat-icon matTooltip="{{ 'knowledge.cookie.match_domain_tooltip' | translate }}"
                [matTooltipPosition]="'after'">help_outline</mat-icon>
              }
          </h1>
        </header>
        @for(item of cookie_knowledge.cookie_domain; track item){
          <div class="base-knowledges_base-displayData">
            <div class="base-knowledges_base-displayData-category">
              {{ "knowledge.purpose" | translate }} : {{item.category}}
            </div>
            <div class="base-knowledges_base-displayData-description">
              <ng-container>
                {{ "knowledge.domain" | translate }} : {{item.domain}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.name" | translate }} : {{item.name}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.source" | translate }} : {{item.source}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.data_controller" | translate }} : {{item.controller}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.privacy_policy" | translate }} : {{item.policy}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.referenced_in" | translate }} : {{item.reference}} <br>
              </ng-container>
              <ng-container>
                {{ "knowledge.comments" | translate }} : <br>
                <div [innerHTML]="item.comment"></div>
              </ng-container>
            </div>
          </div>
        }
      </div>
    }
    
  </mat-expansion-panel>
}