<h4>
    <a [routerLink]="['/analysis', analysis.id, 'tag', tag.id]">
        <span>
            {{tag.name}}
            @if(evaluation){
                @switch (evaluation.status) {
                    @case('compliant'){
                        <mat-icon style="color: green;font-size: 20px; height: 15px ;width: 15px;">done</mat-icon>
                    }
                    @case('not_compliant'){
                        <mat-icon style="color: red;font-size: 20px; height: 15px ;width: 15px;">close</mat-icon>
                    }
                    @case('TBD'){
                        <mat-icon style="color: #004494;font-size: 20px; height: 15px ;width: 15px;">search</mat-icon>
                    }
                }
            }
        </span>
    </a>
    <br>
    <span class="header-desc">
        <mat-icon>date_range</mat-icon>
        {{tag.created_at | date: "shortDate":""}}
    </span>
</h4>