<container-element *ngIf="event" [ngSwitch]="event.type">
  <app-cookie-log-details [event]="asCookieLogEvent(event)" *ngSwitchCase="'Cookie.HTTP'">
  </app-cookie-log-details>
  <app-cookie-log-details [event]="asCookieLogEvent(event)" *ngSwitchCase="'Cookie.JS'">
  </app-cookie-log-details>
  <app-request-tracking-details [event]="asRequestTrackingLogEvent(event)" *ngSwitchCase="'Request.Tracking'">
  </app-request-tracking-details>
  <app-storage-local-storage-details [event]="asStorageLocalStorageLogEvent(event)" *ngSwitchCase="'Storage.LocalStorage'">
  </app-storage-local-storage-details>
</container-element>