@if(log){
    @switch (log.type) {
      @case ('Cookie.HTTP') {
        <app-cookie-log-details [log]="asCookieLog(log)">
        </app-cookie-log-details>
      }
      @case ('Cookie.JS') {
        <app-cookie-log-details [log]="asCookieLog(log)">
        </app-cookie-log-details>
      }
      @case ('Request.Tracking') {
        <app-request-tracking-details [log]="asRequestTrackingLog(log)">
        </app-request-tracking-details>
      }
      @case ('Storage.LocalStorage') {
        <app-storage-local-storage-details [log]="log">
        </app-storage-local-storage-details>
      }
    }
}