<div class="content" style="max-width: 800px; margin-top: 56px;">

    <mat-slide-toggle (change)="settingService.setItem('help', $event.checked)"
        [(ngModel)]="settingService.settings.help" color="primary">
        {{ 'settings.tooltips' | translate }}</mat-slide-toggle> <br> <br>

    <mat-slide-toggle (change)="settingService.setItem('DNT', $event.checked)" [(ngModel)]="settingService.settings.dnt"
        color="primary">
        {{ 'settings.do_not_track' | translate }}</mat-slide-toggle> <br> <br>

    <mat-slide-toggle (change)="settingService.setItem('devTool', $event.checked)"
        [(ngModel)]="settingService.settings.devTool" color="primary">
        {{ 'settings.developer_tools' | translate }}</mat-slide-toggle><br> <br>
    <mat-slide-toggle (change)="settingService.setItem('use_proxy', $event.checked)"
        [(ngModel)]="settingService.settings.use_proxy" color="primary">
        {{ 'settings.use_proxy' | translate }}</mat-slide-toggle><br> <br>

    <div *ngIf="settingService.settings.use_proxy" style="max-width: 800px; margin-top: 10px;">
        <div class="header">{{ 'settings.proxy_settings_header' | translate }}</div>
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>{{ 'settings.proxy_settings' | translate }}</mat-label>
            <input (input)="settingService.setProxySettings($event.target)" matInput type="text"
                [(ngModel)]="settingService.settings.proxy_settings">
        </mat-form-field>
    </div>

    <mat-slide-toggle (change)="settingService.setItem('use_doh', $event.checked)"
        [(ngModel)]="settingService.settings.use_doh" color="primary">
        {{ 'settings.use_doh' | translate }}</mat-slide-toggle>

    <div *ngIf="settingService.settings.use_doh" style="max-width: 800px; margin-top: 10px;">
        <div class="header">{{ 'settings.doh' | translate }}</div>
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>{{ 'settings.doh' | translate }}</mat-label>
            <input (input)="settingService.setDoH($event.target)" matInput type="text"
                [(ngModel)]="settingService.settings.doh">
        </mat-form-field>
    </div>

</div>


<div class="content" style="max-width: 800px; margin-top: 56px;">
    <div class="header">{{ 'settings.user_agent' | translate }}</div>
    <mat-form-field appearance="fill" style="width:100%">
        <mat-label>{{ 'settings.user_agent' | translate }}</mat-label>
        <input (input)="settingService.setUserAgent($event.target)" matInput type="text"
            [(ngModel)]="settingService.settings.useragent">
    </mat-form-field>
</div>