<div class="header">
    <div class="header-buttons">
        <div class="header-button" style="margin-left: 6px;">
            <button mat-mini-fab
            matTooltip="{{ 'browse.toolbar.go_back' | translate }}"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"
            matTooltipClass="browser-tooptil"
            [disabled]="!canGoBackward"  (click)="backward()" class="header-button-content">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="header-button">
            <button mat-mini-fab
            matTooltip="{{ 'browse.toolbar.go_forward' | translate }}"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"
            [disabled]="!canGoForward" (click)="forward()" class="header-button-content">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
        <div class="header-button">
            <button 
            mat-mini-fab
            matTooltip="{{ 'browse.toolbar.reload' | translate }}"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"
            (click)="refresh()" class="header-button-content">
                <mat-icon >refresh</mat-icon>
            </button>
        </div>
    </div>
    <div class="header-search">
        <div class="header-search-loop">
            @if(pause_state == true){
                <button mat-mini-fab
                matTooltip="{{ 'browse.toolbar.resume' | translate }}"
                matTooltipPosition="after"
                matTooltipShowDelay="3000"
                (click)="pause_state=false;play.emit()"
             opacity="0.87" class="header-search-loop-content">
                    <mat-icon>pause</mat-icon>
            </button>
            }@else {
                <button mat-mini-fab
                matTooltip="{{ 'browse.toolbar.suspend' | translate }}"
                matTooltipPosition="after"
                matTooltipShowDelay="3000"
    
                (click)="pause_state=true;pause.emit()"
                 opacity="0.87" class="header-search-loop-content">
                    <mat-icon>play_arrow</mat-icon>
                    </button>
            }
        
        </div>
        <div class="header-search-input">
            <input #search [(ngModel)]="addressbarValue" spellcheck="false" placeholder="{{ 'browse.toolbar.search_input' | translate }}"
                class="header-search-input-content" (keydown)="onKeyDownEvent($event)" (click)="onMouseDown($event)">
            <div class="header-search-input-hidden"></div>
        </div>
        @if(analysis && tag){
            <div class="analysis-name">
                <button mat-mini-fab
                matTooltip="{{ 'browse.toolbar.suspend' | translate }}"
                matTooltipPosition="after"
                matTooltipShowDelay="3000"
                class="adress-button"
                [routerLink]="['/analysis', analysis.id, 'tag', tag.id]">
                    {{analysis.name}} > {{tag.name}}
                </button>
            </div>
        }

        <div class="analysis-plus">
            <button mat-mini-fab
            matTooltip="{{ 'browse.toolbar.new' | translate }}"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"
            class="adress-button"
            [routerLink]="analysis?['/entries','new',analysis.id]:['/entries','new']"
            >
                +
            </button>
        </div>
        @if(this.analysis && this.tag){
            <div class="header-search-right">
                <button mat-mini-fab
                matTooltip="{{ 'browse.toolbar.screenshot' | translate }}"
                matTooltipPosition="after"
                matTooltipShowDelay="3000"
    
                (click)="screenshot.emit()" opacity="0.87" class="header-search-right-button">
                    <mat-icon>camera_alt</mat-icon>
                </button>
            </div>
        }


      <!--  <div *ngIf="this.analysis && this.tag" class="header-search-right">
            <button 
            matTooltip="Take a video of the capture"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"
            size="16" opacity="0.87" class="header-search-right-button">
                <mat-icon>videocam</mat-icon>
            </button>
        </div>-->

        <div class="header-search-right">
            <button mat-mini-fab
            matTooltip="{{ 'browse.toolbar.clear' | translate }}"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"
            (click)="erase.emit()" opacity="0.87" class="header-search-right-button">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>

        @if(settingsService.settings.devTool){
            <div class="header-search-right">
                <button mat-mini-fab
                matTooltip="{{ 'browse.toolbar.developer' | translate }}"
                matTooltipPosition="after"
                matTooltipShowDelay="3000"
                (click)="devTool.emit()"  opacity="0.87" class="header-search-right-button">
                    <mat-icon>bug_report</mat-icon>
                </button>
            </div>
        }


        @if(analysis && tag){
            <div class="header-search-right">
                <button mat-mini-fab
                matTooltip="{{ 'browse.toolbar.stop' | translate }}"
                matTooltipPosition="after"
                matTooltipShowDelay="3000"
    
                (click)="save.emit()" opacity="0.87" class="header-search-right-button">
                    <mat-icon>stop</mat-icon>
                </button>
            </div>
        }


        @if(zoomFactor != 100){
            <div 
            class="zoom-factor">
            <span 
                 class="header-search-right-button">
                 {{zoomFactor}} %
                </span>
            </div>
        }


        <div class="header-search-right">
            <button mat-mini-fab
            matTooltip="{{ 'browse.toolbar.zoomOut' | translate }}"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"

            (click)="zoomFactor = zoomFactor > 10 ? zoomFactor - 10 : zoomFactor"  opacity="0.87" class="header-search-right-button">
                <mat-icon>zoom_out</mat-icon>
            </button>
        </div>

        <div class="header-search-right">
            <button mat-mini-fab
            matTooltip="{{ 'browse.toolbar.zoomIn' | translate }}"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"

            (click)="zoomFactor = zoomFactor < 500 ? zoomFactor + 10 : zoomFactor"  opacity="0.87" class="header-search-right-button">
                <mat-icon>zoom_in</mat-icon>
            </button>
        </div>

    </div>
    <div class="header-option">
        <div class="header-option-div">
            <button mat-mini-fab
            matTooltip="{{ 'browse.toolbar.show' | translate }}"
            matTooltipPosition="after"
            matTooltipShowDelay="3000"

            (click)="logVisibile = !logVisibile;toggleLog.emit(logVisibile)"
         opacity="0.87" class="header-button-content">
            @if(logVisibile){
                <mat-icon 
                style="margin-left: 50px">chevron_left</mat-icon>
            }@else {
                <mat-icon style="margin-left: 50px">chevron_right</mat-icon>
            }
            </button>
        </div>
    </div>
</div>